/* Cible la barre de défilement pour les navigateurs basés sur Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;  /* Largeur de la barre de défilement verticale */
    height: 5px; /* Hauteur de la barre de défilement horizontale */
  }
  
 
  /* Cible le "pouce" (partie qui se déplace) de la barre de défilement */
  ::-webkit-scrollbar-thumb {
    background-color: #555;      /* Couleur du pouce */
    /* border-radius: 10px;         Bords arrondis du pouce */
    /* border: 3px solid #f1f1f1;   Bordure autour du pouce */
  }
  
  /* Lorsque l'utilisateur survole le pouce de défilement */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* Couleur du pouce lorsqu'il est survolé */
  }
  