

header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 0;
    align-items: center;
    z-index: -20;
    margin-bottom:20px;
}
#second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

nav i{
    color: #242424;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
}

#logo{
    margin-left: 100px;
}

#profile{
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    padding: 8px;
    color: white;
    margin-left: 10px;
}
#profile10{
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  padding: 8px;
  color: white;
  width:45px;
  height: 45px;
  font-size: 1.5em;
  margin-right: 15px;
  text-align: center;
}
#profile11{
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  padding: 8px;
  color: white;
  width:35px;
  height: 35px;
  font-size: 1.1em;
  margin-right: 10px;
  text-align: center;
}
#profile111{
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  padding: 8px;
  color: white;
  width:55px;
  height: 55px;
  font-size: 2em;
  margin-right: 10px;
  text-align: center;
}
#profile3{
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  padding: 12px;
  font-size: 2.4em;
  color: white;
  margin-left: 10px;
}
#image30{
  background-color: rgb(255, 255, 255);
  border:1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  padding: 2px;
  font-size: 5.8em;
  color: white;
  margin-left: 10px;
  width:170px;
  height: 170px;
}
#profile30{
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  padding: 12px;
  font-size: 8.0em;
  color: white;
  margin-left: 10px;
  width:170px;
  height: 170px;
}
#profile2{
  background-color: rgb(200, 200, 200);
  /* border-radius: 50%; */
  padding:18px;
  color: white;
  margin-left: 10px;
  width:auto;
  font-size: 7em;
  border: 1px solid rgb(150,150,150);
}


  
 
  
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: auto;
    z-index: 1;
    right:25px;
    width: 170px;
    border: 1px solid rgb(200, 200, 200);
    padding: 5px 0;
  }
  i{
    cursor: pointer;
  }
  .dropdown-content i{
    padding: 10px;
    font-size: 1.1em;
    color: rgb(50, 50, 50);
    cursor: pointer;

    
  }
  .dropdown-content div:hover{
    background-color: #9bbff5;
    width: 100%;
  }
  
  .show {display: block;}

  hr{
    width: 98%;
    margin: 5px auto;  
  }

  .sidenav {
    height: 100%;
    width:0;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s ease-in-out;
    padding: 15px 0;
 }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    opacity: 0.7;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  h1{
    font-size: 1.7em;
    margin-left: 20px;
  }

  .overlay {
    height: 100%;
    width: 100%;
    /* display: none; */
    position: fixed;
    z-index:15;
    top: 0;
    left: 0;
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0,0,0, 0.5);
    
  }
  .all{
    height: 100%;
    width: 100%;
    /* display: none; */
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    left: 0;
    display: flex;
    align-items: center;
    overflow-y:auto;
  }
  
  .allp{
    height: 100%;
    width: 100%;
    /* display: none; */
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: rgba(0,0,0, 0.3);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:auto;
  }
  @keyframes fadeIn {
    0% {
      bottom:50px;
      opacity: 0;
    }
    100% {
      bottom:0;
      opacity: 1;

    }
}


  #post{
    width:35%;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    z-index: 200;
    opacity: 1;
    overflow-y: hidden;
    background-color: #fff;
    position: relative;
    animation: fadeIn 0.5s ease;
  }

  #put:focus{
    outline:2px solid #9bbff5;
    border-radius: 0;
  }

 #close:hover{
  opacity: 0.8;
 }
 #close{
  font-size: 1.2em;
 }
 input.sayy:focus{
  outline: 3px solid rgba(12, 109, 253,0.5);
}
input.sayy{
 height:35px;
 padding:10px;
width: 90%;
 /* margin-top:10px; */
 /* margin-bottom:10px; */
 border:none;
 border-radius: 0px;
 outline:none;
 transition: outline 0.1s ;
}
 input{
  border: 1px solid rgb(233, 231, 231);
  border-radius: 5px;
  padding-left: 15px;
  font-size: 1.1em;
  height: 45px;
}
input:focus{
  /* border:2px solid #9bbff5; */
  outline:4px solid #9bbff5;
}

#edit{
  background-color: #fff;
  width:80%;
  height: 200px ;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  z-index: 300;
}
.edct{
  background-color: #fff;
  width:90%;
  text-align: center;
  max-height: 200px ;
  /* margin: auto; */
  display: inline-block;
  border-radius: 5px;
  /* box-shadow: 0px 1px 1px rgba(0,0,0,0.5); */
  height: auto;
  border: 1px solid rgb(220, 220, 220);
  margin-bottom: 20px;
  padding: 10px;
  z-index: 300;
}
.edcct{
  background-color: #fff;
  width:90%;
  /* text-align: center; */
  /* max-height: 200px ; */
  /* margin: auto; */
  height: auto;
  display: inline-block;
  border-radius: 5px;
  /* box-shadow: 0px 1px 1px rgba(0,0,0,0.5); */
  height: auto;
  border: 1px solid rgb(220, 220, 220);
  margin-bottom: 20px;
  padding: 10px 0px 0px 0px;
  z-index: 300;
}
#edtd{
  background-color: #f8d7da;
  width:90%;
  /* text-align: center; */
  max-height: 200px ;
  /* margin: auto; */
  display: inline-block;
  border-radius: 5px;
  color:rgb(177, 7, 72);
  /* box-shadow: 0px 1px 1px rgba(0,0,0,0.5); */
  height: auto;
  border: 1px solid rgb(203, 184, 190);
  margin-bottom: 20px;
  padding: 10px;
  z-index: 300;
}
#dio input[type='radio']:focus{
  border: none;
  outline: none;
}
button.follow:hover{
  /* opacity:0.1; */
  background-color: rgba(11,94,215,1);
  cursor: pointer;
  /* background-color: red; */
}

button.follow{
  padding:0px 10px;
  border-radius:5px;
  color:white;
  border:none;
  background-color:rgba(0, 56, 161, 0.849);
  transition: background-color 0.1s ease-in;
}

button.follo:hover{
  /* opacity:0.1; */
  background-color: rgba(11,94,215,1);
  cursor: pointer;
  /* background-color: red; */
}

button.follo{
  padding:10px 10px;
  border-radius:5px;
  color:white;
  border:none;
  margin:5px;
  background-color:rgba(11,94,215,0.8);
  transition: background-color 0.1s ease-in;
}
button.unfollo:hover{
  /* opacity:0.1; */
  background-color: rgba(255,0,0,1);
  cursor: pointer;
  /* background-color: red; */
}

button.unfollo{
  padding:10px 10px;
  border-radius:5px;
  color:white;
  border:none;
  margin:5px;
  background-color:rgba(255,0,0,0.8);
  transition: background-color 0.1s ease-in;
}
.dropdown-contentt {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;
  padding-left: 10px;
}

.dropdown-cont {
  position:absolute;
  top:15px;
  background-color: #fff;
  overflow: auto;
  z-index: 1;
  width: 160px;
  border: 1px solid rgb(200, 200, 200);
  padding: 5px 0;
}
.loader {
  border: 4px solid #FFF; 
  border-top: 4px solid #000; /* Blue top section */
  border-left:4px solid #000;
  border-right:4px solid #000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  animation: spin 0.5s linear infinite; /* Spin animation */
}
