*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    user-select: none;
}
body{
    background-color: #f5f9f9;

    max-width:100%;
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
  }
  